body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    padding: 2vh 2vw;
    border-radius: 16px;
}

.left, .right {
    pointer-events: none;
    z-index: 2;
}

.left .container, .right .container{
    box-shadow: rgba(0, 0, 0, 0.3) -10px 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10vw;
}

.right .container {
    margin-bottom: 10vh;
}

.header {
    background-color: #E5625E;
}

.about {
    background-color: #C3BEF7;
}

.experience {
    background-color: #63E2C6;
}

.portfolio {
    background-color: #E5E059;
}

.me {
    background-color: #595457;
    color: #ddd;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    width: 105%;
    max-height: 100%;
    opacity: 0.8;
}
.square {
    height: 10vh;
    width: 10vh;
    position: relative;
}